{# a random id for each gallery #}
{% set id = random() %}
{#- set classnames #}
{%- set css_classes = [
    'sc-gallery',
    'sc-gallery--list',
] %}
{%- if settings.class %}
    {%- set css_classes = css_classes|merge( [ settings.class ] ) %}
{%- endif %}
<div class="{{ css_classes|join( ' ' )|trim }}" id="gallery-{{ id }}" itemscope itemtype="http://schema.org/ImageGallery">
{%~ for image in images %}
    {#~ try to generate a thumbnail image #}
    {#- 1) get the full image url
            https://mywebsite.com/user/pages/02.gallery/01.landscapes/image01.jpg
        2) remove the sites url
            /user/pages/02.gallery/01.landscapes/image01.jpg
        3) remove "/user/"
            pages/02.gallery/01.landscapes/image01.jpg
            be careful, a page can be named "user", only replace the first occurence
        4) add "user://"
            user://pages/02.gallery/01.landscapes/image01.jpg
        5) use the generated url to get the image via grav (can load any image in the /user directory)
    #}
    {%- set original_image = image["src"] %} {# 1 #}
    {%- if base_url %}
        {%- set original_image = original_image|replace({(base_url): ""}) %} {# 2 #}
    {%- endif %}
    {%- set original_image = original_image|split("/user/", 2) %} {# 3 #}
    {%- set original_image = "user://" ~ original_image[1] %} {# 4 #}
    {%- set original_image = page.media[original_image] %} {# 5 #}

    {# set a cropped image as link target, if linking enabled #}
    {%- if original_image
        and settings.target_width != 0
        and settings.target_height != 0
        and settings.link
    %}
        {%- set href = original_image.cropZoom( settings.target_width, settings.target_height ).url %}
    {%- else %}
        {%- set href = image['src'] %}
    {%- endif %}

    <figure class="sc-gallery__figure" role="group" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        {%- if href and settings.link %}
        <a href="{{ href }}" class="sc-gallery__link">
        {%- endif %}
        {%- if original_image %}
            {#- success: can now generate a smaller thumbnail image #}
            {{ original_image
                .cropResize( settings.thumb_width, null )
                .loading('lazy').html( null, image.alt, 'sc-gallery__image' )|raw }}
        {%- else %}
            {#~ couldn't find the image inside grav, so just use the original url #}
            {{ image["image"]|raw }}
            {{- "\n" }}
        {%- endif %}
        {%- if href and settings.link %}
        </a>
        {%- endif %}
        {%- if settings.captions %}
        <figcaption class="sc-gallery__caption">
            {{ image.title }}
        </figcaption>
        {%- endif %}
    </figure>
{%~ endfor %}
</div>